header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vw 0;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NavBarMenu ul{
    list-style: none;
}
.NavBarMenu{
    width: 500px;
}
a{
    text-decoration: none;
    
}